* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GothamSSm-Book_Web;
  src: url(fonts/GothamSSm-Book_Web.woff2) format("woff2");
}

@font-face {
  font-family: GothamSSm-Medium_Web;
  src: url(fonts/GothamSSm-Medium_Web.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(3px);
  }
}
